{% extends 'learning_cards/base.html' %}
<meta charset="utf-8" />
    <style>
      html, body, #container {
        width: 70%;
        height: 100%;
      }
    </style>

{% block title %}
    {{ title }}
{% endblock%}

{% block content_title %}


{% endblock%}

{% block content %}
            <div id="container"></div>
                 <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
                    <script>
                        const dataa = {{ statistics | safe }}
                      anychart.onDocumentLoad(function() {
                                  // create chart and set data
                                  // as Array of Objects
                                  var chart = anychart.column();
                                  chart.data({header: ["#", "Learned", "Repeated"],
                                   rows:dataa});
                                  chart.title("Statistics");
                                  chart.legend(true);
                                  chart.container("container").draw();
                                });
                    </script>
            <form action="{% url 'learn' %}" method="post" xmlns="http://www.w3.org/1999/html">
                {% csrf_token %}
                <div>
                    <p>Cards to repeat: {{repeat}}</p>
                    <p><a class="btn btn-outline-info btn-md btn-block"  href="{% url 'repeat' %}" role="button">Repeat cards</a></p>
                </div>
                Learned today: {{ learned }} / {{ form.day_limit }}
                <button type="submit" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="Goal for day">Change</button>
                <div class="form-error">{{ form.day_limit.errors }}</div>

            </form>
            <p>
                <h2>{{ title }}</h2>
            </p>
            <ol>
                {% for box in boxes %}
                        <a class="btn btn-outline-success btn-lg btn-block" href="{% url 'learning' box.slug %}">{{ box.name }}</a>
                {% endfor %}
            </ol>


{% endblock %}