{% extends 'learning_cards/base.html' %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content_title %}

    {{ title }}

{% endblock%}

{% block content %}
            <a class="btn btn-outline-info btn-md btn-block"  href="{% url 'add_box' %}" role="button">Add box</a>
            <ol>
                {% for box in boxes %}
                    <li>
                        <a class="lead" href="{{ box.get_absolute_url }}">{{ box.name }}</a>
                    </li>
                {% endfor %}
            </ol>

{% endblock %}